*{
margin: 0;
padding: 0;
color: white;
text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../Res/cropped-1920-1080-1116781.jpg) no-repeat top center;
    background-size: cover;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

label:hover, button:hover {
    cursor: pointer;
}

footer {
    display: grid;
    place-items: center;
}

footer div {
    display: flex;
    margin: 30px 30px 20px 30px;
}

footer div a {
    padding-left: 5px;
    font-size: 22px;
}

footer div a:hover {
    transition: 0.5s;
    color: #fa1e4e;
}

.primeiro {
    border: none;
}

#container {
    margin-bottom: 20%;
}

#barraPesquisa_cont {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    clear: both;
}

#BarraTemperatura {
    margin: 25px 0 100px 25px;
}

#barraPesquisa_cont input[type="text"] {
    display: flex;
    color: #FFF;
    font-size: 20px;
    width: 100%;
    padding: 18px;
    padding-left: 60px;
    background: url(../Res/Google_Icons.webp) no-repeat left;
    /* background: url(../Res/lupa-de-pesquisa.png) no-repeat right; */
    background-size: 50px;
    opacity: 92%;
    border-style: none;
}

#barraPesquisa_cont input[type="text"]:focus {
    font-weight: 500;
    opacity: 100%;
}

#barraPesquisa_cont img {
    display: flex;
    padding: 10px;
    width: 50px;
    height: 50px;
}

#barraPesquisa_cont #botaoPesquisa:hover {
    opacity: 80%;
}

#PesquisaForm {
    width: 50%;
}

#barraPesquisa {
    display: flex;
}

#sitesFavoritos {
    text-align: center;
    margin-top: 20px;
}

#sitesFavoritos ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#sitesFavoritos ul li{
    text-align: center;
    margin: 0 20px;
}

#sitesFavoritos ul li a:hover{
   opacity: 60%;
   transition: 0.3s;
}

#listaSites a{
    text-decoration: none;
    color: #FFF;
    display: block;
}

#listaSites img {
    height: auto;
    margin: 0 auto; /* Centraliza horizontalmente o ícone */
}

#listaSites #add {
    width: 175px;
    height: 175px;
    padding-top: 16px;
}

#listaSites textarea {
    color: #FFF;
    background: rgba(155, 22, 22, 0.8);
    width: 200px;
    height: 150px;
    border: none;
    border-radius: 2px;
    resize: none;
    text-align: center;
}

#listaSites div {
    font-size: large;
    font-weight: 600;
}

#BarraTemperatura {
    display: flex;
    float: left;
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

#BarraTemperatura span{
    color: #ececec;
}

#Temperatura {
    display: flex;
    align-items: center;
}

#Temperatura img{
    margin-right: 10px;
}
